/* app.css */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00fcff;
  font-family: Arial, sans-serif;
}

#scoreBoard {
  color: #002431;
  font-size: 16px;
  margin: 20px 0 10px 0;
}

canvas {
  border: 2px solid #002431;
  background-color: #00fcff;
}

.control-btns {
  background-color: #00fcff;
  /* border: 2px solid #002431; */
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.horizontal-btns {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.control-btn {
  background-color: #014a65;
  border: 2px solid #002431;
  color: #ffffff;
  font-size: 20px;
  font-family: Arial, sans-serif;
  width: 60px;
  height: 60px;
  border-radius: 8px;
}

.control-btn-c {
  background-color: #014a65;
  border: 2px solid #002431;
  color: #ffffff;
  font-size: 20px;
  font-family: Arial, sans-serif;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  align-self: center;
}
